{% extends "base.html" %}
{% load i18n %}
{% load sekizai_tags metron_tags %}                                                
{% load staticfiles %}                                                

{% block title %}
    {{ block.super }}
    {{ object.username }}
{% endblock %}

{% block content %}

{% addtoblock "css" %}
    <link href="{% static "css/profile.css" %}" rel="stylesheet" type="text/css">
{% endaddtoblock %}

{% include 'card.html' %}

<div class="row profile_content">
    <div class="col s3">
        <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
                <img src="{{ object.image_url }}" alt="{{ object }}" class="activator"/>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {% if object.user.firstName or object.user.lastName %}
                        {{ object.user.firstName }} {{ object.user.lastName }}
                    {% else %}
                        {{ object.username }}
                    {% endif %}
                    {% if object.user == user %}
                        (
                        <a href="{% url 'user_edit' %}">
                            editer
                            <i class="material-icons">mode_edit</i>
                        </a>
                        )
                    {% endif %}
                    <i class="material-icons right">more_vert</i>
                </span>
                <p class="grey-text text-darken-4">
                    {{ object.birthdate }}
                </p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn" href="#barcode_modal">Carte membre</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Surnoms<i class="material-icons right">close</i></span>
                {% for surname in object.surname_set.all %}
                    <p class="grey-text text-darken-4">{{ surname }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col s1"></div>
    <div class="col s7">
        <div class="career">
            <h2>Comités de Cercle</h2>
            <ul>
                {% for cm in object.cercle_carreer %}
                    <li><a href="{% url 'year_detail' cm.year.slug %}"> {{ cm.year }} </a> : {{ cm.poste.name }}</li>
                {% endfor %}
            </ul>

            <div class="divider"></div>

            <h2>Parcours Folklorique</h2>
            <ul>
                {% for cm in object.bapteme_carreer %}
                    <li><a href="{% url 'year_detail' cm.year.slug %}"> {{ cm.year }} </a> : {{ cm.poste.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col s1"></div>
</div>

{% endblock %}
