{% extends "base.html" %}
{% load sekizai_tags metron_tags %}
{% load static %}
{% load material_dynamic_formsets %}

{% block title %}
    {{ block.super }}
    Modifier votre profil
{% endblock %}

{% block content %}

<form action="{% url "user_edit" %}" method="post" class="form" enctype="multipart/form-data">
    <div class="row">
        {% csrf_token %}
        <div class="col s1"></div>
        <div class="col s6">
            <div class="page-header">
                <h4 style="display: inline-block">{{ request.user.username }}</h1>
                Modification du profil
            </div>

            <h5>Informations</h5>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.birthdate.errors }}
                    <label>Anniversaire</label>
                    <input type="date" class="datepicker">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.user.email.errors }}
                    {{ form.user.email.label_tag }}
                    {{ form.user.email }}
                </div>
            </div>

            <h5>Comité de Cercle</h5>
            {% material_dynamic_formset comite_form can_delete=True layout="horizontal" %}
            <!-- {% for hidden in comite_form.hidden_fields %} -->
            <!--     {{ hidden }} -->
            <!-- {% endfor %} -->
            <h5>Parcours Folklorique</h5>
            {% material_dynamic_formset folklo_form can_delete=True layout="horizontal" %}
            <!-- {% for hidden in folklo_form.hidden_fields %} -->
            <!--     {{ hidden }} -->
            <!-- {% endfor %} -->
            <button type="submit" class="btn btn-primary">
                Envoyer
                <i class="material-icons right">send</i>
            </button>
        </div>
        <div class="col s1"></div>
        <div class="col s4">
            <div class="full-4 center-align">
                <img src="{{ object.image_url }}" alt="{{ object }} picture"/>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>

{% endblock %}
