{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ block.super }}
    Gestion comité
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>
        {{ object }}
        <small>Gestion comité</small>
    </h1>
</div>
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <form action="{% url "year_edit" object.slug %}" method="post" class="form">
            {-% bootstrap_form form %}
            {% csrf_token %}
            <div class="row">
                <h2>Comité de Cercle</h2>
                <h2>Comité de Baptême</h2>
                <h2>Toges de cercle</h2>
                <h2>Bleus</h2>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-1">

    </div>
</div>

{% endblock %}
