{% extends "base.html" %}
{% load bootstrap3 %}
{% load bootstrap_dynamic_formsets %}
{% load static %}

{% block title %}
    Gestion comité
{% endblock %}

{% block head %}
    {{ form.media }}
    <link rel='stylesheet' type='text/css' href='{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}'/>
    <script type='text/javascript' src='{% static 'js/jquery-ui.js' %}'></script>
{% endblock %}

{% block content %}
        <div class="page-header">
            <h1>
                {{ object }}
                <small>Gestion comité</small>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <form action="{% url "year_edit" object.slug %}" method="post" class="form">
                    {% bootstrap_form form %}
                    {% csrf_token %}
                    <div class="row">
                        <h2>Comité de Cercle</h2>
                        {% bootstrap_dynamic_formset comite_cercle_form can_delete=True layout="horizontal" id_formset='cercle'%}
                        {% for hidden in comite_cercle_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <h2>Comité de Baptême</h2>
                        {% bootstrap_dynamic_formset comite_bapteme_form can_delete=True layout="horizontal" %}
                        {% for hidden in comite_bapteme_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <h2>Toges de cercle</h2>
                        {% bootstrap_dynamic_formset bapt_cercle_form can_delete=True layout="horizontal" %}
                        {% for hidden in bapt_cercle_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <h2>Bleus</h2>
                        {% bootstrap_dynamic_formset bleu_form can_delete=True layout="horizontal" %}
                        {% for hidden in bleu_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        {% endbuttons %}
                    </div>

                </form>
            </div>
            <div class="col-md-1">

            </div>
        </div>

{% endblock %}