$round-size: 5px;

.events-timeline {
  border: 1px solid rgba(60, 60, 60, 0.3);
  background-color: rgba(251, 251, 251, 1);
  -moz-border-radius: $round-size;
  -webkit-border-radius: $round-size;
  border-radius: $round-size;
  position: relative;
  

  .scale {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    // border-bottom: 1px dashed rgba(50, 50, 50, 0.8);

    section {
      height: 100%;
      border-left: 1px dashed rgba(50, 50, 50, 0.4);

      .title {
        border-bottom: 1px solid rgba(50, 50, 50, 0.4);
        text-align: center;
        color: rgba(50, 50, 50, 0.8);
        font-family: 'Signika Negative';
        font-size: 22px;
        font-weight: lighter;
      }
    }
  }
}
