$bubble-color: #9C6CD9;
$checked-bubble-color: #5417A2;

$checked-font-size: 14px;
$checked-font-weight: 500;
$checked-opacity: 1;
$unchecked-font-size: 14px;
$unchecked-font-weight: 400;
$unchecked-opacity: 0.7;

.data {
  margin: 34px 0 0 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
  color: rgba(250, 250, 250, 0.8);
  font-family: 'Signika Negative';
  font-size: 13px;

  li {
    margin: 3px 0 3px 0;
    display: block;
    cursor: pointer;
    clear: both;
    position: relative;
    white-space: nowrap;

    &:hover {
      .bubble {
        opacity: 1;
        // background-color: $bubble-color;
      }
    }

    .inline-date {
      font-weight: $unchecked-font-weight;
      font-size: $unchecked-font-weight;
      color: rgba(112, 128, 144, 1);
    }

    .inline-summary {
      font-weight: $unchecked-font-weight;
      font-size: $unchecked-font-weight;
      padding-left: 5px;
      color: rgba(112, 128, 144, 1);
      white-space: nowrap;
    }

    .bubble {
      height: 8px;
      display: block;
      float: left;
      position: relative;
      top: 4px;
      border-radius: 4px;
      margin: 0 10px 0 0;
      background-color: $bubble-color;
    }
  }

  .checked {
    .inline-date {
      font-size: $checked-font-size;
      font-weight: $checked-font-weight;    
    }

    .inline-summary {
      font-size: $checked-font-size;
      font-weight: $checked-font-weight;    
    }

    .bubble {
      opacity: 1;
      background-color: $checked-bubble-color;
    }
  }

  .unchecked {
    .inline-date {
      font-size: $unchecked-font-size;
      font-weight: $unchecked-font-weight;    
    }

    .inline-summary {
      font-size: $unchecked-font-size;
      font-weight: $unchecked-font-weight;    
    }


    .bubble {
      opacity: 0.5;
      background-color: $bubble-color;
    }
  }
}


