django>=1.10,<2.0
django-extensions
raven
Pillow

django-webpack-loader

# Payments
mollie-api-python

# For testing
pytest
pytest-flakes
pytest-cov
pytest-pep8
pytest-django
pyflakes
coverage

# frontend
django-extra-views
django-materializecss-form
fuzzywuzzy
djangorestframework
metron
django-debug-toolbar
django-sekizai
django-mathfilters

django-tinymce

# recaptcha
django-recaptcha

# Wiki
wiki>=0.3b3

# Calendar
icalendar

# Revamped django admin
django-suit
