django>=1.10
django-extensions
raven
Pillow

django-webpack-loader

# Payments
mollie-api-python

# For testing
pytest
pytest-flakes
pytest-cov
pytest-pep8
pytest-django
pyflakes
coverage

# frontend
django-extra-views
-e git+git://github.com/thomacer/django-material-dynamic-formsets.git#egg=django-material-dynamic-formsets
django-materializecss-form
fuzzywuzzy
djangorestframework
metron
django-debug-toolbar
django-sekizai
django-mathfilters

django-tinymce

# recaptcha
django-recaptcha

# Wiki
wiki

# Calendar
icalendar

# Revamped django admin
django-suit
