django>=1.9
Pillow

# For testing
pytest
pytest-flakes
pytest-cov
pytest-pep8
pytest-django
pyflakes
coverage

# frontend
django-bootstrap3
django-extra-views
django-bootstrap3-datetimepicker-2
django-jquery
django-jquery-ui
-e git+git://github.com/loispostula/django-bootstrap-dynamic-formsets.git#egg=django-bootstrap-dynamic-formsets
fuzzywuzzy
djangorestframework
fuzzywuzzy
metron
django-debug-toolbar
django-sekizai