{% load staticfiles %}
{% load sekizai_tags metron_tags %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>

    {% render_block "css" %}
    {% render_block "js" %}
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favicon/manifest.json">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}CI - {% endblock %}</title>

    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}images/icon/icon.png">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css">

    {% render_bundle 'commons' %}

    <meta property="og:title" content="Cercle Informatique"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://cerkinfo.be/fr/"/>
    <meta property="og:image" content="http://cerkinfo.be/static/img/cerkinfo_logo.png"/>

    {% block head %}{% endblock %}
</head>

<body>
    {% include 'navbar.html' %}
    <div class="content">
        {% if messages %}
            <!-- Messages for this instance -->
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
    <a name="bottom" class="separator"></a>
    {% analytics %}

    {% include 'footer.html' %}
</body>
</html>

{% addtoblock "js" %}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
{% endaddtoblock %}

{% addtoblock "css" %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endaddtoblock %}
