{% load staticfiles %}

<footer class="page-footer purple darken-4">
    <div class="container">
        <div class="row">
            <div class="left col l3 m12 s12 center-align">
                <h4 class="white-text">Cerkinfo ASBL</h4>
                <p class="grey-text text-lighten-4"></p>
                <img class="responsive-img" src="{% static "img/cerkinfo_logo_little.png" %}">
            </div>
            <div class="col l2"></div>
            <div class="col l2 m12 s12 center-align">
                <h4 class="white-text">Voir aussi</h4>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://urlab.be">Urlab</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://dochub.be">DocHub</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/Cerkinfo/">GitHub</a></li>
                </ul>
            </div>
            <div class="col l2"></div>
            <div class="right col l3 m12 s12 center-align">
                <h4 class="white-text">Contact</h4>
                <ul class="grey-text text-lighten-3 left-align">
                    <li>Cerkinfo A.S.B.L.</li>
                    <li>Boulevard du Triomphe, CP 206</li>
                    <li>1050, Ixelles</li>
                    <li>Bruxelles</li>
                    <li>02 650 54 88</li>
                    <li>BE02 0014 0193 5340</li>
                    <li>
                        <a href="https://www.facebook.com/cerkinfo/">
                            <i style="color: white;" class="fa fa-facebook-official fa-3x"></i>
                        </a>
                        <a href="https://github.com/Cerkinfo/">
                            <i style="color: white;" class="fa fa-github fa-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span class="left grey-text text-lighten-4">
                Copyright © {% now "Y" %} Cerkinfo ASBL
            </span>
            <span class="right grey-text text-lighten-4">
                Made with <img draggable="false" class="emoji" alt="♥" src="https://twemoji.maxcdn.com/2/72x72/2665.png"> in cerkinfo
            </span>
        </div>
    </div>
</footer>
