{% load static %}
{% load sekizai_tags metron_tags %}
{% load render_bundle from webpack_loader %}

{% if request.user.is_authenticated %}
  {% include 'card.html' with card_id=request.user.member.card_id %}
{% endif %}

<!-- Logged side bar -->
{% if request.user.is_authenticated %}
<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background purple darken-4">
            </div>
            <img class="circle responsive-img" src="{{ request.user.member.image_url }}">
            <br>
        </div>
    </li>
    <li><a href="{% url "profile" %}"><i class="material-icons">perm_identity</i>Profil</a></li>
    <li><a href="#barcode_modal"><i class="material-icons">credit_card</i>Carte membre</a></li>                                                                                 
    <li><a href="{% url "password_change" %}"><i class="material-icons">loop</i>Changer de mot de passe</a></li>
    <li><a href="{% url "logout" %}?next=/"><i class="material-icons">settings_power</i>Déconnexion</a></li>

    <li><div class="divider"></div></li>

    {% if request.user.is_staff %}
        <li><a href="/admin"><i class="material-icons">grade</i>Administration</a></li>
    {% endif %}
    {% if perms.coma.add_money %}
        <li><a href="{% url "coma_add" %}"><i class="material-icons">payment</i>Ajouter de l'argent à l'ardoise</a></li>
    {% endif %}
    {% if perms.coma.can_add_product %}
        <li><a href="{% url "coma_products" %}"><i class="material-icons">toc</i>Gêrer les produits</a></li>
    {% endif %}
    {% if perms.coma.create_purchase %}
        <li><a href="{% url "coma_reader" %}"><i class="material-icons">redeem</i>Passer une transaction</a></li>
    {% endif %}
</ul>
{% endif %}

<!-- Not logged form -->
<div id="no-auth-modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s6">
                <h4>Se connecter</h4>
                <form class="form" role="form" method="post"
                        action="{% url 'login' %}"
                        id="login-nav"
                        enctype="multipart/form-data">
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                    {% endif %}
                    {% csrf_token %}
                    <div class="input-field">
                        <label class="sr-only" for="id_u">Nom d'utilisateur</label>
                        <input type="text" class="form-control" id="id_u"
                                placeholder="Nom d'utilisateur" name="id_username" required>
                    </div>
                    <div class="input-field">
                        <label class="sr-only" for="id_p">Mot de Passe</label>
                        <input type="password" class="form-control" id="id_p"
                                placeholder="Mot de Passe" name="id_password" required>
                    </div>

                    <div class="row valign-wrapper">
                        <div class="valign col s6">
                            <a href="{% url "password_reset" %}">
                                Mot de passe oublié?
                            </a>
                        </div>
                        <div class="valign col s6">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Connexion
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s6 center-align">
                <div class="valign card-panel white-text purple darken-4">
                    <img class="responsive-img circle" src="{% static "img/register.jpg" %}">
                    <div class="row">
                        <h5 style="display: inline-block; padding-right: 10px">Besoin d'un compte ?</h5>
                        <a href={% url "register" %} class="waves-effect waves-light btn">Inscris toi</a>
                    </div>
                    <h6>
                        Créez un compte et rejoignez nous en éditant votre CIpédia.
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End for login form -->

<!-- Mobile Sliding Menu -->
<ul id="sliding_mobile_menu" class="side-nav">
    <li class="logo center-align purple darken-4">
          <img class="responsive-img brand-logo" src="{% static "img/nav_brand.png" %}">
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header active waves-effect waves-teal">
                    Menu
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a class="waves-effect" href="{% url "home" %}">Accueil</a>
                        </li>
                        <li>
                            <a class="waves-effect" href="{% url 'current_guide' %}">
                                Guide
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="{% url 'home' %}#agenda">
                                Agenda
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="{% url 'home' %}#contact">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="{% url 'cipedia_home' %}">
                                CIpédia
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="{% url 'pv' %}">
                                PV
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="{% url 'wiki:root' %}">
                                Wiki
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="http://urlab.be">
                                UrLab
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><div class="divider"></div></li>
            <li>
                {% if request.user.is_authenticated %}
                    <a class="collapsible-header waves-effect waves-teal">
                        {{ request.user.username }}
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{% url "profile" %}"><i class="material-icons">perm_identity</i>Profil</a></li>
                            <li><a href="#barcode_modal"><i class="material-icons">credit_card</i>Carte membre</a></li>                                                                                 
                            <li><a href="{% url "password_change" %}"><i class="material-icons">loop</i>Changer de mot de passe</a></li>
                            <li><a href="{% url "logout" %}?next=/"><i class="material-icons">settings_power</i>Déconnexion</a></li>

                            <li><div class="divider"></div></li>

                            {% if request.user.is_staff %}
                                <li><a href="/admin"><i class="material-icons">grade</i>Administration</a></li>
                            {% endif %}
                            {% if perms.coma.add_money %}
                                <li><a href="{% url "coma_add" %}"><i class="material-icons">payment</i>Ajouter de l'argent à l'ardoise</a></li>
                            {% endif %}
                            {% if perms.coma.can_add_product %}
                                <li><a href="{% url "coma_products" %}"><i class="material-icons">toc</i>Gêrer les produits</a></li>
                            {% endif %}
                            {% if perms.coma.create_purchase %}
                                <li><a href="{% url "coma_reader" %}"><i class="material-icons">redeem</i>Passer une transaction</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% else %}
                    <a href="#no-auth-modal" class="waves-effect">
                        Se connecter
                    </a>
                {% endif %}
            </li>
        </ul>
    </li>
</ul>
<!-- End Mobile Menu -->


<!-- Classical top menu -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper purple darken-4">
            <a href="{% url "home" %}" class="brand-logo">
                <!-- <img class="responsive-img brand-logo" src="{% static "img/nav_brand.png" %}"> -->
                Cercle Informatique
            </a>
            <a href="#" id="mobile_menu" data-activates="sliding_mobile_menu" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="waves-effect" href="{% url 'current_guide' %}">
                        Guide
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="{% url 'home' %}#agenda">
                        Agenda
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="{% url 'home' %}#contact">
                        Contact
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="{% url 'cipedia_home' %}">
                        CIpédia
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="{% url 'pv' %}">
                        PV
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="{% url 'wiki:root' %}">
                        Wiki
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="http://urlab.be">
                        UrLab
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="#" id="sliding_side" data-activates="slide-out" class="waves-effect waves-light btn">
                            {{ request.user.username }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="#no-auth-modal" class="modal-trigger waves-effect waves-light btn">
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
</div>

<script>
  $(document).ready(function(){
    $('.modal').modal();
    $('#sliding_side').sideNav();
    $('#mobile_menu').sideNav();
  });
</script>

<div id="react-space-api-pin">
</div>
{% render_bundle 'spaceapi' %}
