{% load staticfiles %}
{% load render_bundle from webpack_loader %}


<div class="events">
    <div class="title">
        Évènements à venir 
    </div>

    <div id="react-events-timeline"></div>
    {% render_bundle 'events' %}
    <script>
        eventsRender([
        {% for event in instance %}
            {
                summary: "{{ event.summary }}",
                start: "{{ event.start }}",
                end: "{{ event.end  }}",
                description: "{{ event.description }}",
                location: "{{ event.location }}",
            },
        {% endfor %}
                
        ]);
    </script>
</div>
