<div class="guide_container">
    <div class="guide_link">
        <div>
            <span class="glyphicon glyphicon-list-alt"></span>
            <a class="hvr-icon-wobble-horizontal" href="{% url 'current_guide' %}">
                Guide de l'étudiant
            </a>
        </div>
        <div class="desc">
            Ce guide a pour but de t'aider à atterrir dans ce monde nouveau
            qu'est l'ULB. Il a été fait par des étudiants, pour des étudiants.
            <br>
            Il contient les infos qui peuvent servir à n'importe quel moment
            dans ton cursus et s'adresse à tous les étudiants en informatique
            qui veulent s'intégrer.
        </div>
    </div>
</div>
