{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {{ block.super }}
    Accueil
{% endblock %}
{% block content %}
    <div class="header_container">
        <div class="header_container" style="
            background-size: cover;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-image: url({% static 'img/header.jpg' %}">
            <div class="header-logo">
                <img class="header img-responsive" src="{% static 'img/cerkinfo_logo.png' %}" usemap="#header-logo-map">
            </div>
        </div>
    </div>

    <div class="guide_container">
        <div class="guide_link">
            <div>
                <a class="hvr-icon-wobble-horizontal" href="{% url 'current_guide' %}">
                    {{ guide.title }}
                </a>
            </div>
            <div class="desc">
                {{ guide.description | safe }}
            </div>
        </div>
    </div>

    {% include 'news.html' %}
    {% include 'events.html' %}
    {% include 'contact.html' %}
    {% include 'team.html' %}
    <section>
        <div class="footer">
            <p>
                <span class="glyphicon glyphicon-copyright-mark"></span>
                <script>document.write(new Date().getFullYear())</script>
                - Cerkinfo ASBL - BE02 0014 0193 5340 -
                <a href="{% url 'home' %}#top">
                    Return to the top
                </a>
            </p>
        </div>
    </section>
{% endblock %}
