{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="header_container" style="
            background-size: cover;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-image: url({% static 'img/header.jpg' %}">
        <div class="header-logo">
            <img class="header img-responsive" src="{% static 'img/cerkinfo_logo.png' %}" usemap="#header-logo-map">
        </div>
    </div>
    <div class="guide_container">
        <div class="guide_link">
            <div>
                <a class="hvr-icon-wobble-horizontal" href="#">
                    {{ guide.title }}
                </a>
            </div>
            <div class="desc">
                {{ guide.description }}
            </div>
        </div>
    </div>
{% endblock %}