{% extends "base.html" %}
{% load sekizai_tags i18n %}
{% load render_bundle from webpack_loader %}

{% block include %}
    {% addtoblock "css" %}
        {% render_bundle 'welcoming' 'css' %}
    {% endaddtoblock %}

    {% addtoblock "js" %}
        {% render_bundle 'welcoming' 'js' %}
    {% endaddtoblock %}
{% endblock %}

{% block title %}
    {{ block.super }}
    Accueil
{% endblock %}

{% block content %}
    {% include 'section_home.html' %}
    {% include 'section_guide.html' %}
    {% include 'section_events.html' %}
    {% include 'section_contact.html' %}
    <!-- {% include 'team.html' %} -->
{% endblock %}
