<div style="
    background-color: whitesmoke;
    display: block;
    padding: 20px 80px;
    text-align: center;">
    <div class="col-md-6">
        <div class="card-wrapper">
            <div id="card-member" class="card-rotating effect__click">
                <div class="face front">
                    <div class="card-up">
                        <img src="http://mdbootstrap.com/images/reg/reg%20(35).jpg" class="img-fluid">
                    </div>
                    <div class="card-block">
                        <h2>Devenir membre</h2>
                        <a class="rotate-btn" data-card="card-1"><i class="fa fa-repeat"></i> Cliquez ici</a>
                    </div>
                </div>
                <div class="face back">
                    <h4>Instruction</h4>
                    <p>
                        Devenez membre dès maintenant en envoyant un virement de 5€ sur le compte du cercle
                        (BE02 0014 0193 5340) en indiquant votre nom/prénom en communication.
                    </p>
                    <a class="rotate-btn" data-card="card-1"><i class="fa fa-undo"></i> Revenir </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-wrapper">
            <div id="card-honour" class="card-rotating effect__click">
                <div class="face front">
                    <div class="card-up">
                        <img src="http://mdbootstrap.com/images/reg/reg%20(35).jpg" class="img-fluid">
                    </div>
                    <div class="card-block">
                        <h2>Plaque honorifique</h2>
                        <a class="rotate-btn" data-card="card-1"><i class="fa fa-repeat"></i> Cliquez ici</a>
                    </div>
                </div>
                <div class="face back">
                    <h4>Instruction</h4>
                    <p>
                        Pour les détenteurs d'une plaque honorifique n'hésitez pas à renouveler votre cotisation
                        en envoyant vous aussi un viremnent de 25€.
                    </p>
                    <a class="rotate-btn" data-card="card-1"><i class="fa fa-undo"></i> Revenir </a>
                </div>
            </div>
        </div>
    </div>
</div>


