<section class="guide_container">
    <div class="guide_link">
        <div>
            <span class="glyphicon glyphicon-list-alt"></span>
            <a href="{% url 'current_guide' %}">
                <i class="material-icons medium" style="vertical-align: middle">chevron_right</i>
                Guide de l'étudiant
                <i class="material-icons medium" style="vertical-align: middle">chevron_left</i>
            </a>
        </div>
        <div class="desc">
            Ce guide a pour but de t'aider à atterrir dans ce monde nouveau
            qu'est l'ULB. Il a été fait par des étudiants, pour des étudiants.
            <br>
            Il contient les infos qui peuvent servir à n'importe quel moment
            dans ton cursus et s'adresse à tous les étudiants en informatique
            qui veulent s'intégrer.
        </div>
    </div>
</section>
