{% extends "base.html" %}
{% load staticfiles  %}
{% load sekizai_tags metron_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}
    {{ block.super }}
    Guide
{% endblock %}

{% block content %}

{% addtoblock "css" %}
    <link href="{% static "css/guide.css" %}" rel="stylesheet" type="text/css">
{% endaddtoblock %}

<div class="container">
    <h3>Guide de l'étudiant</h3>
    <hr>
    <div id="react-markdown-page"></div>
    {% render_bundle 'markdown_page' %}
    <script>
        $(document).ready(function () {
            markdown_page_render('https://raw.githubusercontent.com/Cerkinfo/BA1/master/guide.md', 'react-markdown-page');
        });
    </script>
</div>


{% endblock %}
