/* guide style */
.guide_container {
    background: rgba(0, 0, 0, 0) linear-gradient(75deg, crimson 0px, crimson 34%, gold 80%, gold 100%) repeat scroll 0 0;
    display: table;
    height: 30vh;
    width: 100%;
}

.guide_container > div {
    background-color: rgba(128, 128, 128, 0.5);
    transition: background-color 500ms ease-in-out 0s;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.guide_container > div:hover {
    background-color: rgba(128, 128, 128, 0.3);
    transition: background-color 1s ease-in-out 0s;
}

.guide_container > div > div > a {
    color: white;
    font-size: 3em;
    font-weight: 100;
    position: relative;
}

.guide_container > div > div.desc {
    width: 40vw;
    display: inline-block;
    color: white;
    font-weight: 200;
    font-size: 1.3em;
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.hvr-icon-wobble-horizontal:hover::before {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: hvr-icon-wobble-horizontal-left;
    animation-timing-function: ease-in-out;

}

.hvr-icon-wobble-horizontal:hover::after {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: hvr-icon-wobble-horizontal-right;
    animation-timing-function: ease-in-out;
}

.hvr-icon-wobble-horizontal::before {
    content: ">";
    position: absolute;
    left: -1em;
}

.hvr-icon-wobble-horizontal::after {
    content: "<";
    position: absolute;
    right: -1em;
}

@keyframes hvr-icon-wobble-horizontal-left {
    16.65% {
        transform: translateX(6px);
    }
    33.3% {
        transform: translateX(-5px);
    }
    49.95% {
        transform: translateX(4px);
    }
    66.6% {
        transform: translateX(-2px);
    }
    83.25% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes hvr-icon-wobble-horizontal-right {
    16.65% {
        transform: translateX(-6px);
    }
    33.3% {
        transform: translateX(5px);
    }
    49.95% {
        transform: translateX(-4px);
    }
    66.6% {
        transform: translateX(2px);
    }
    83.25% {
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(0px);
    }
}

/* footer style */
.footer {
    width: 100%;
    text-align: center;
    color: gray;
}

a {
    cursor: pointer;
    color: cornflowerblue;
    text-decoration: none;
}

/*cerkinfo_comite style*/
.comite_desc {
    display: block;
    text-align: center;
    padding: 50px;
    font-weight: 100;
    font-size: 2.2em;
    background-color: whitesmoke;
}

/* guide */
.guide_content_container {
    width: 100%;
    text-align: left;
}

.guide_content {
    width: 1080px;
    display: inline-block;
    text-align: justify;
}

.guide_menu_container {
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
    background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(88%, rgba(245, 245, 245, 1)), color-stop(89%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
}

.guide_menu {
    display: table;
    text-align: center;
    border-spacing: 20px;
    width: 100%;
}

.guide_menu_item {
    padding: 20px 15px;
    display: table-cell;
    border-radius: 15px;
    background-color: white;
    border: 1px solid transparent;
    transition: border-bottom-color 500ms ease-in-out 0s, border-top-color 500ms ease-in-out 0s, border-left-color 500ms ease-in-out 0s, border-right-color 500ms ease-in-out 0s;
    -webkit-transition: border-bottom-color 500ms ease-in-out 0s, border-top-color 500ms ease-in-out 0s, border-left-color 500ms ease-in-out 0s, border-right-color 500ms ease-in-out 0s;
    min-width: 220px;
    max-width: 220px;
    min-height: 220px;
}

.guide_menu_item:hover {
    border-color: rgba(0, 0, 0, 0.2);
    transition: border-bottom-color 500ms ease-in-out 0s, border-top-color 500ms ease-in-out 0s, border-left-color 500ms ease-in-out 0s, border-right-color 500ms ease-in-out 0s;
    -webkit-transition: border-bottom-color 500ms ease-in-out 0s, border-top-color 500ms ease-in-out 0s, border-left-color 500ms ease-in-out 0s, border-right-color 500ms ease-in-out 0s;

}

.guide_item_icon_container {
    border: 2px solid black;
    border-radius: 52%;
    padding: 12px;
    opacity: 0.6;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.guide_item_desc {
    margin-top: 10px;
    text-align: justify;
    font-size: 0.9em;
    color: black;
    opacity: 0.75;

}

fieldset {
    padding-right: 40px;
}

ol p {
    color: black;
    font-weight: 400;
}

ol ul p {
    margin: 0;
}
