/* guide */
.guide_content_container {
    width: 100%;
    text-align: left;
}

.guide_content {
    width: 1080px;
    display: inline-block;
    text-align: justify;
}

.guide_menu_container {
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
    background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(88%, rgba(245, 245, 245, 1)), color-stop(89%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
}

.guide_menu {
    display: table;
    text-align: center;
    border-spacing: 20px;
    width: 100%;
}

.guide_menu_item {
    padding: 20px 15px;
    display: table-cell;
    border-radius: 15px;
    background-color: white;
    border: 1px solid transparent;
    transition: border-bottom-color 500ms ease-in-out 0s, border-top-color 500ms ease-in-out 0s, border-left-color 500ms ease-in-out 0s, border-right-color 500ms ease-in-out 0s;
    -webkit-transition: border-bottom-color 500ms ease-in-out 0s, border-top-color 500ms ease-in-out 0s, border-left-color 500ms ease-in-out 0s, border-right-color 500ms ease-in-out 0s;
    min-width: 220px;
    max-width: 220px;
    min-height: 220px;
}

.guide_menu_item:hover {
    border-color: rgba(0, 0, 0, 0.2);
    transition: border-bottom-color 500ms ease-in-out 0s, border-top-color 500ms ease-in-out 0s, border-left-color 500ms ease-in-out 0s, border-right-color 500ms ease-in-out 0s;
    -webkit-transition: border-bottom-color 500ms ease-in-out 0s, border-top-color 500ms ease-in-out 0s, border-left-color 500ms ease-in-out 0s, border-right-color 500ms ease-in-out 0s;

}

.guide_item_icon_container {
    border: 2px solid black;
    border-radius: 52%;
    padding: 12px;
    opacity: 0.6;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.guide_item_desc {
    margin-top: 10px;
    text-align: justify;
    font-size: 0.9em;
    color: black;
    opacity: 0.75;

}

fieldset {
    padding-right: 40px;
}

ol p {
    color: black;
    font-weight: 400;
}

ol ul p {
    margin: 0;
}
