/* # css element # */

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

a:hover{
    text-decoration: none;
}

.glyphicon {
    padding: 3px;
    vertical-align:middle;
}

/* navigation style */
.navbar-default {
  background-color: #5417a2;
  border-color: #5417a2;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    font-style: normal;
    font-weight: 200;
    color: white;
    font-size: 20px;
    padding-left: 6px;
    padding-right: 6px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #5417a2;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #5417a2;
}
.navbar-default .navbar-toggle {
  border-color: #5417a2;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #5417a2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: white;
}

.navbar-brand {
    padding: 5px;
}

.navbar-brand img {
    width: 45px;
}
.navbar-nav li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
}

.navbar-nav li a::before {
    content: "#";
    color: transparent;
    transition: color 500ms ease-in-out;
}

.navbar-nav li a:hover::before {
    content: "#";
    color: white;
    transition: color 500ms ease-in-out;
}

.navbar-nav li a:hover {
    background-color: transparent;
}

/* login form */
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/* header style */
/* header style */
.header-container {
    background-size: cover;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position:center;
}


.header-logo {
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    height: 100vh;
}

img.header {
    width: 95vh;
    transition: width 1s ease-in-out;
    -webkit-transition: width 1s ease-in-out;
    margin: 0 auto;
}

img.header:hover {
    width: 100vh;
    transition: width 1s ease-in-out;
    -webkit-transition: width 1s ease-in-out;
}

/* Open tag style */
.state-box {
    position: fixed;
    top: 50px;
    left: 10px;
    background-color: rgba(128, 128, 128, 0.7);
    z-index: 20;
    padding: 3px 8px;
    text-transform: capitalize;
    color: white;
    border-radius: 0px 0px 4px 4px;
}

/* guide style */
.guide_container {
    background: rgba(0, 0, 0, 0) linear-gradient(75deg, crimson 0px, crimson 34%, gold 80%, gold 100%) repeat scroll 0 0;
    /*background:rgba(0, 0, 0, 0) linear-gradient(75deg, #ba5a6d 0px, #ba5a6d 34%, #5980a8 80%, #5980a8 100%) repeat scroll 0 0;*/
    display: table;
    height: 30vh;
    width: 100%;
}

.guide_container > div {
    background-color: rgba(128, 128, 128, 0.5);
    transition: background-color 500ms ease-in-out 0s;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.guide_container > div:hover {
    background-color: rgba(128, 128, 128, 0.3);
    transition: background-color 1s ease-in-out 0s;
}

.guide_container > div > div > a {
    color: white;
    font-size: 3em;
    font-weight: 100;
    position: relative;
}

.guide_container > div > div.desc {
    width: 40vw;
    display: inline-block;
    color: white;
    font-weight: 200;
    font-size: 1.3em;
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.hvr-icon-wobble-horizontal:hover::before {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: hvr-icon-wobble-horizontal-left;
    animation-timing-function: ease-in-out;

}

.hvr-icon-wobble-horizontal:hover::after {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: hvr-icon-wobble-horizontal-right;
    animation-timing-function: ease-in-out;
}

.hvr-icon-wobble-horizontal::before {
    content: ">";
    position: absolute;
    left: -1em;
}

.hvr-icon-wobble-horizontal::after {
    content: "<";
    position: absolute;
    right: -1em;
}

@keyframes hvr-icon-wobble-horizontal-left {
    16.65% {
        transform: translateX(6px);
    }
    33.3% {
        transform: translateX(-5px);
    }
    49.95% {
        transform: translateX(4px);
    }
    66.6% {
        transform: translateX(-2px);
    }
    83.25% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes hvr-icon-wobble-horizontal-right {
    16.65% {
        transform: translateX(-6px);
    }
    33.3% {
        transform: translateX(5px);
    }
    49.95% {
        transform: translateX(-4px);
    }
    66.6% {
        transform: translateX(2px);
    }
    83.25% {
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(0px);
    }
}

/* footer style */
.footer {
    width: 100%;
    text-align: center;
    color: gray;
}


/* Open page Style */
	.status-container {
		height: 100vh;
		width: 100vw;
		display: table;
		text-align: center;
		z-index: 10;
		font-weight: 100;
	}
	.status-infos-cell {
		display: table-cell;
		vertical-align: middle;
	}
	.status-infos {
		display: inline-block;
		border-radius: 50%;
		border: 2px solid white;
		width: 300px;
		height: 300px;
		color: white;
		-webkit-animation: bg-blink 4s linear 0s infinite normal; /* Chrome, Safari, Opera */
    	animation: bg-blink 4s linear 0s infinite normal;
	}
	.state {
		text-transform: uppercase;
		font-size: 6em;
		margin: 0;

	}
	.status-bg {
		position: absolute;
		width: 100vw;
		height: 100vh;
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
		z-index: -10;
		border: none;
	}
	/* Chrome, Safari, Opera */




a {
    cursor: pointer;
    color: cornflowerblue;
    text-decoration: none;
}

/* # class # */

.separator {
    display: block;
}

/*cerkinfo_comite style*/
.comite_desc {
    display: block;
    text-align: center;
    padding: 50px;
    font-weight: 100;
    font-size: 2.2em;
    background-color: whitesmoke;
}

.member-widget {
    color: darkgray;
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    margin: 25px;
    text-align: center;
}

.member-widget .circle {
    border-radius: 70px;
    height: 140px;
    width: 140px;
}

.member-widget .member-name {
    padding: 5px 0px;
    font-size: 1.1em;
    font-weight: bold;
}

/* cerkinfo_contact style */
.frater-info {
    margin: 50px 90px;
    position: absolute;
    z-index: 10;
    font-weight: 300;
}

.frater-info .info {
    background-color: white;
}

.frater-info .info .adress {
    background-color: whitesmoke;
    padding: 15px;
    display: inline-block;
}

.frater-info .info .phone-mail {
    padding: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
}

.bank-account {
    display: flex;
    padding: 15px;
    text-align: center;
    vertical-align:middle;
}

.frater-info .desc {
    background-color: white;
    color: dimgray;
    display: block;
    margin-top: 5px;
    padding: 15px;
    width: 345px;
    font-weight: 200;
}

.frater-info .phone-mail a {
    display: block;
    margin-bottom: 5px;
}

.frater-info .desc, .frater-info .info {
    box-shadow: 1px 2px 5px grey;
}

#map-canvas {
    width: 100%;
}



/*gallerie plugin*/

.thumbnail> img{
    min-height:300px;
    max-height:300px;
    overflow: hidden;
}

#carousel {
    height:300px;
    margin-bottom: 20px;
}

/* Declare heights because of positioning of img element */
#carousel .item {
    width: 100%;
    height:300px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height:300px;
}


/* guide */

.guide_content_container {
    width: 100%;
    text-align: left;
}

.guide_content {
    width: 1080px;
    display: inline-block;
    text-align: justify;
}

.tune_up {
    border-radius: 15px;
    border: 1px solid #A9BCF5;
}

.advice {
    border-radius: 15px;
    border: 1px solid #FA5858;
}

.tune_up > legend {
    color: #a9bcf5;
}

.tune_up > legend:before {
    content: "Remarque";
}

.advice > legend {
    color: #FA5858;
}

.advice > legend:before {
    content: "Conseils";
}

.guide_menu_container {
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
    background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(88%, rgba(245, 245, 245, 1)), color-stop(89%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 88%, rgba(246, 246, 246, 1) 89%, rgba(255, 255, 255, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
}

.guide_menu {
    display: table;
    text-align: center;
    border-spacing: 20px;
    width: 100%;
}

.guide_menu_item {
    padding: 20px 15px;
    display: table-cell;
    border-radius: 15px;
    background-color: white;
    border: 1px solid transparent;
    transition: border-bottom-color 500ms ease-in-out 0s, border-top-color 500ms ease-in-out 0s, border-left-color 500ms ease-in-out 0s, border-right-color 500ms ease-in-out 0s;
    -webkit-transition: border-bottom-color 500ms ease-in-out 0s, border-top-color 500ms ease-in-out 0s, border-left-color 500ms ease-in-out 0s, border-right-color 500ms ease-in-out 0s;
    min-width: 220px;
    max-width: 220px;
    min-height: 220px;
}

.guide_menu_item:hover {
    border-color: rgba(0, 0, 0, 0.2);
    transition: border-bottom-color 500ms ease-in-out 0s, border-top-color 500ms ease-in-out 0s, border-left-color 500ms ease-in-out 0s, border-right-color 500ms ease-in-out 0s;
    -webkit-transition: border-bottom-color 500ms ease-in-out 0s, border-top-color 500ms ease-in-out 0s, border-left-color 500ms ease-in-out 0s, border-right-color 500ms ease-in-out 0s;

}

.guide_item_icon_container {
    border: 2px solid black;
    border-radius: 52%;
    padding: 12px;
    opacity: 0.6;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.guide_item_desc {
    margin-top: 10px;
    text-align: justify;
    font-size: 0.9em;
    color: black;
    opacity: 0.75;

}

.guide_item_icon {

}

legend {
    padding: 5px;
    font-size: 20px;
    font-weight: 200;
    margin-left: 50px;
    border-bottom:none;
    width:auto;
}

fieldset {
    padding-right: 40px;
}

.advice ol {
    color: #fa5858;
    font-weight: bold;
}

.tune_up ol {
    color: #a9bcf5;
    font-weight: bold;
}

ol p {
    color: black;
    font-weight: 400;
}

ol ul p {
    margin: 0;
}



.show-hide-state:not(:checked) ~ .show-hide {
    display: none;
}

.show-hide-state:not(:checked) ~ .trigger::before {
    background: rgba(0, 0, 0, 0) url("images/guide_plugin/collapse.png") no-repeat local center center;
    color: transparent;
    content: "++";
    margin-right: 5px;
}

.trigger {
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 0 0 5px 5px;
    display: block;
    border-radius: 3px;
    padding: 4px 10px;
}

.show-hide-state:checked ~ .trigger::before {
    background: rgba(0, 0, 0, 0) url("images/guide_plugin/expand.png") no-repeat local center center;
    color: transparent;
    content: "++";
    margin-right: 5px;
}

.show-hide-state {
    display: none;
}

.show-hide-container {
    margin: 20px 40px;
}

.show-hide {
    padding: 0 30px;
}


.surname_list ul {
    padding: 0;
    list-style-type: none;
}
