.space-state-box {
    border-radius: 0px 0px 4px 4px;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.7);
    z-index: 20;
    padding: 3px 8px;
    text-transform: capitalize;
    color: white;
}

.space-status {
    border-top-width: 2px;
}
