{% load render_bundle from webpack_loader %}

<div id="{{ modal_id | default:"barcode_modal" }}" class="modal">
    <div class="modal-content center-align">
        <h4>Carte de membre</h4>
        <img id="barcode"></img>
        {% render_bundle 'barcode' %}
        <script>
            $(document).ready(function(){
                $('.modal').modal();
                barcodeRender("{{ card_id }}", "{{ request.user|capfirst }}");
            });
        </script>
        <p>Votre numéro unique est : <strong>{{card_id}}</strong>, gardez-le pour vous !</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
</div>
