{% load static %}
{% load render_bundle from webpack_loader %}

<!-- Logged side bar -->
<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background purple darken-4">
            </div>
            <!-- <img class="circle responsive-img" src=""> -->
            <a href="{% url "profile" %}">
                <span class="name  white-text">
                    {{ request.user.username }}
                </span>
            </a>
        </div>
    </li>
    <li><a href="{% url "profile" %}">Profil</a></li>
    <li><a href="{% url "password_change" %}">Changer de mot de passe</a></li>
    <li><a href="{% url "logout" %}?next=/">Déconnexion</a></li>
    {% if request.user.is_staff %}
        <li><div class="divider"></div></li>
        <li><a href="/admin">Administration</a></li>
    {% endif %}
</ul>

<!-- Not logged form -->
<div id="no-auth-modal" class="modal">
    <div class="row">
        <form class="form col s6" role="form" method="post"
                action="{% url 'login' %}"
                id="login-nav"
                enctype="multipart/form-data">
            <div class="modal-content">
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                {% endif %}
                {% csrf_token %}
                <div class="input-field">
                    <label class="sr-only" for="id_u">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="id_u"
                            placeholder="Nom d'utilisateur" name="id_username" required>
                </div>
                <div class="input-field">
                    <label class="sr-only" for="id_p">Mot de Passe</label>
                    <input type="password" class="form-control" id="id_p"
                            placeholder="Mot de Passe" name="id_password" required>
                </div>

                <div class="modal-footer row valign-wrapper">
                    <div class="valign col s6">
                        <a href="{% url "password_reset" %}">
                            Mot de passe oublié?
                        </a>
                    </div>
                    <div class="valign col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Connexion
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="col s6">
            <div class="card">
                <div class="card-image">
                    <img src="http://cdn2.hubspot.net/hubfs/360031/main_register.jpg">
                    <span class="card-title">S'inscrire</span>
                </div>
                <div class="card-content">
                  <p>Rejoignez nous et éditer votre CIpédia</p>
                </div>
                <div class="card-action">
                    <a href={% url "register" %} class="waves-effect waves-light btn">S'inscrire</a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav>
    <div class="nav-wrapper purple darken-4">
        <a href={% url "home" %} class="brand-logo">
            <!-- <img class="responsive-img brand-logo" src="{% static "img/nav_brand.png" %}"> -->
            Cercle Informatique
        </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
            <li>
                <a class="waves-effect" href="{% url 'current_guide' %}">
                    Guide
                </a>
            </li>
            <li>
                <a class="waves-effect" href="{% url 'home' %}#agenda">
                    Agenda
                </a>
            </li>
            <li>
                <a class="waves-effect" href="{% url 'home' %}#contact">
                    Contact
                </a>
            </li>
            <li>
                <a class="waves-effect" href="{% url 'cipedia_home' %}">
                    CIpédia
                </a>
            </li>
            <li>
                <a class="waves-effect" href="{% url 'pv' %}">
                    PV
                </a>
            </li>
            <li>
                <a class="waves-effect" href="{% url 'wiki:root' %}">
                    Wiki
                </a>
            </li>
            <li>
                <a class="waves-effect" href="http://urlab.be">
                    UrLab
                </a>
            </li>
            {% if request.user.is_authenticated %}
                <li>
                    <a href="#" id="user_actions" data-activates="slide-out" class="waves-effect waves-light btn">
                        {{ request.user.username }}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="#no-auth-modal" class="modal-trigger waves-effect waves-light btn">
                        Login
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<script>
  $(document).ready(function(){
    $('.modal').modal();
    $('#user_actions').sideNav();
  });
</script>

<div id="react-space-api-pin">
</div>
{% render_bundle 'spaceapi' %}
