{% load staticfiles %}
{% load bootstrap3 %}
{% load sekizai_tags metron_tags %}
{% load i18n %}
<div id="nav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img alt="Brand" src="{% static "img/nav_brand.png" %}">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Research -->

                    <li class="active">
                    <form class="navbar-form navbar-right" id="wiki-search-form" method="GET"
                          action="{% url 'wiki:search' %}">
                        <div class="input-group">
                            <input type="search" class="form-control search-query" name="q"
                                   placeholder="{% trans "Search..." %}"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="fa fa-search"></span>
                                </button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                        </li>
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {% bootstrap_icon "user" %}
                                {{ request.user.username }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "profile" %}">{% bootstrap_icon "user" %} Profil</a></li>
                                {% if request.user.is_staff %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/admin">{% bootstrap_icon "cog" %} Administration</a></li>
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url "password_change" %}">{% bootstrap_icon "lock" %} Changer de mot de
                                    passe</a></li>
                                <li><a href="{% url "logout" %}?next=/">{% bootstrap_icon "off" %} Déconnexion</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="active">
                            <a href="{% url "register" %}">Register</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span
                                    class="caret"></span></a>
                            <ul id="login-dp" class="dropdown-menu">
                                <li>
                                    <div class="col-md-12">
                                        <form class="form" role="form" method="post"
                                              action="{% url 'login' %}"
                                              id="login-nav"
                                              enctype="multipart/form-data">
                                            {% if next %}
                                                <input type="hidden" name="next" value="{{ next }}"/>
                                            {% endif %}
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="sr-only" for="id_u">Nom d'utilisateur</label>
                                                <input type="text" class="form-control" id="id_u"
                                                       placeholder="Nom d'utilisateur" name="id_username" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="id_p">Mot de Passe</label>
                                                <input type="password" class="form-control" id="id_p"
                                                       placeholder="Mot de Passe" name="id_password" required>

                                                <div class="help-block text-right">
                                                    <a href="{% url "password_reset" %}">
                                                        Mot de passe oublié?
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">
                                                    Connexion
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'cipedia_home' %}">
                            CIpédia
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'wiki:root' %}">
                            Wiki
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="http://urlab.be">UrLab</a>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>