{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load sekizai_tags %}

{% block title %}
    {{ block.super }}
    Ajouter à l'ardoise
{% endblock %}

{% block content %}

<div class="container">
    <h1>Ajouter de l'argent à l'ardoise.</h1>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="card-panel red">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="card-panel red">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <form action="/fr/api/v1/transaction/" class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input value="1" name="quantity" id="quantity" hidden>
        <input value="Versement sur l'ardoise" name="comment" id="comment" hidden>
        <div id="react-add-form"></div>
        {% render_bundle 'add_form' %}
    </form>
</div>

{% endblock %}
