/* header style */
.header-container {
    background-size: cover;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position:center;
}


.header-logo {
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    height: 100vh;
}

img.header {
    width: 65vh;
    margin: 0 auto;
}

/* guide style */
.guide_container {
    background: rgba(0, 0, 0, 0) linear-gradient(75deg, crimson 0px, crimson 34%, gold 80%, gold 100%) repeat scroll 0 0;
    display: table;
    height: 30vh;
    width: 100%;
}

.guide_container > div {
    background-color: rgba(128, 128, 128, 0.5);
    transition: background-color 500ms ease-in-out 0s;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 15px 0 10px 0;
}

.guide_container > div:hover {
    background-color: rgba(128, 128, 128, 0.3);
    transition: background-color 1s ease-in-out 0s;
}

.guide_container > div > div > a {
    color: white;
    font-size: 3em;
    font-weight: 100;
    position: relative;
}

.guide_container > div > div.desc {
    width: 40vw;
    display: inline-block;
    color: white;
    font-weight: 200;
    font-size: 1.3em;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
