body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.content {
    flex: 1;
}

a:hover{
    text-decoration: none;
}

.glyphicon {
    padding: 3px;
    vertical-align:middle;
}

.section_header {
    display: block;
    text-align: center;
    padding: 50px;
    font-weight: 100;
    font-size: 2.2em;
    background-color: whitesmoke;
}

/* footer style */
.footer {
    width: 100%;
    text-align: center;
    color: gray;
}

a {
    cursor: pointer;
    color: cornflowerblue;
    text-decoration: none;
}
